<ion-view>
	<ion-content class="stable-background has-expanded-header">
		<ion-list>
			<div ng-repeat="entry in mainMenuNav">
				<ion-item class="transp-bg clear-color line-decoration" menu-close ui-sref="{{entry.go}}">
					{{entry.name}}
				</ion-item>
				<div ng-if="entry.go.startsWith(currentContext)" class="context-menu">
					<div ng-repeat="entry in contextMenu">
						<ion-item class="transp-bg clear-color line-decoration" menu-close ui-sref="{{entry.go}}">
							{{entry.name}}
						</ion-item>
					</div>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>