<ion-view>
	<ion-content class="stable-background has-expanded-header">
		<ion-list>
			<div ng-repeat="entry in mainMenuNav">
				<ion-item menu-close ui-sref="{{entry.go}}">
					{{entry.name}}
				</ion-item>
				<div ng-if="entry.go.startsWith(currentContext)">
					<div style="width:100%; height:10px; background-color:red"></div>
					<div ng-repeat="entry in contextMenu">
						<ion-item nav-clear menu-close ui-sref="{{entry.go}}">
							{{entry.name}}
						</ion-item>
					</div>
					<div style="width:100%; height:10px; background-color:red"></div>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>