<ion-side-menus enable-menu-with-back-views="true" class="journal-app">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive" ng-class="{expanded: isExpanded}" align-title="center">
			<ion-nav-back-button class="no-text">
			</ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="content"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-header-bar class="transp-bg expanded journal-menu-bar">
			<div id="player-data" class="full-block center mtop2">
				<img src="img/profile-avatar.png" class="profile-avatar-menu"/>
				<h4>Mizhal</h4>
				<h5>Assassin</h5>
				<h6>Bearer of the flame</h6>
			</div>
		</ion-header-bar>
		<ion-nav-view name="context-menu"></ion-nav-view>
	</ion-side-menu>
</ion-side-menus>