<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive" ng-class="{expanded: isExpanded}" align-title="center">
			<ion-nav-back-button class="no-text">
			</ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="content"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-header-bar class="dark-bg">
			<h2>Journal</h2>
		</ion-header-bar>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close ui-sref="app.quests-focus">
					Dashboard
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>