<ion-view view-title="{{title}}">
	<ion-content>
		<div class="hero quest-log-listings">
			<div class="content assassins-creed-titles">
				<h2>{{title}}</h2>
			</div>
		</div>
		<button class="button button-fab button-fab-bottom-right"></button>
		<div class="separator theme"></div>
		<section class="quests">
			<div class="quest item" ng-repeat="q in quests">
				<h3><i class="icon ion-ios-clock"></i> {{q.name}} <a ui-sref="app.quests.edit({id:q._id})"><i class="icon right ion-ios-play"></i></a></h3>
			</div>
		</section>
	</ion-content>
</ion-view>