/*** COMMON MIXINS **/
.full-block {
	min-width: 100%;
}

.center {
	text-align: center;
}

.ptop2 {
	padding-top: 20px;
}

.mtop2 {
	margin-top: 20px;
}

.button-right-second {
	right: 88px!important;
}

.separator1 {
	background-image: url("../img/separator1.png");
	background-size: 100%;
	min-width: 100%;
	height: 10px;
}

.right {
	float: right;
}
/*** END: COMMON MIXINS **/

/*** MENU **/

.bar.journal-menu-bar {
	border-style: none;
	padding:0;
}

.transp-bg, .bar.transp-bg {
	background-color: transparent;
}

.item.item-complex.transp-bg,
.item.item-complex.transp-bg a.item-content {
	background-color: transparent;
}

.item.item-complex.clear-color {
	color: white;
}

.journal-app .item-complex .item-content {
	padding: 10px 0;
}

.item.item-complex.line-decoration {
	margin-left: 1em;
    width: 15em;
    border-bottom: 0.2px ridge #D6C78F;
}

.pane {
    background-color: #440E0E !important;
}

#player-data {
	padding:0;
	background-color: #440E0E !important;	
}

.context-menu {
	padding-left: 1em;
}

.context-menu .item.item-complex.line-decoration {
	width: 13em;
}

.profile-avatar-menu {
	width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bar.bar-header.expanded, .expanded .bar.bar-header {
	height: 225px!important;
}

.bar.bar-header h1, .bar.bar-header h2, .bar.bar-header h3, 
.bar.bar-header h4, .bar.bar-header h5, .bar.bar-header h6 {
	color: white;
	background-color: transparent;
}

.bar.bar-header h5 {
	font-style: italic;
}

.has-expanded-header {
    top: 225px!important;
}

/*** END: MENU **/

/*** QUEST LOG OVERVIEW **/
.hero.quest-log-overview {
	background-image: url('../img/firelink.jpg');
}

.journal-app .hero>.content {
	bottom: 50%;
	text-align: left
}

.assassins-creed-titles h2 {
    margin-left: 1em;
    margin-bottom: -50%;
    padding: 0.1em 2em 0.3em 0.5em;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    color: white;
    font-size: 2.5em;
}

.quest-log-overview h3, .quest-log-overview .item h3 {
	margin: 0;
	font-size: 16pt;
	background-color: white;
	padding: 0.3em 1em;
	min-width: 100%;
}

.quest-log-overview h3 a, .quest-log-overview .item h3 a {
	color: black;
}

.quest-log-overview ion-item.item {
	padding: 0;
	margin: 0;
}

.quest-log-overview h3 i.icon {
	margin-right: 0.2em;
}
/*** END: QUEST LOG OVERVIEW **/

/*** QUEST LOG FOCUS ***/
.hero.quest-log-focus {
	background-image: url('../img/focus.png');
}
/*** END: QUEST LOG FOCUS ***/

/*** QUEST LOG LISTINGS ***/
.hero.quest-log-listings {
	background-image: url('../img/listings.png');
}
/*** END: QUEST LOG LISTINGS ***/

/*** CODEX MAIN ***/
.hero.codex-main {
	background-image: url('../img/codex.png');
}
/*** END: CODEX MAIN ***/

/*** JOURNAL MAIN ***/
.hero.journal-main {
	background-image: url('../img/journal.png');
}
/*** END: JOURNAL MAIN ***/

/*** DASHBOARD ***/
.dashboard .tile-frame {
	padding: 5px;
}

.dashboard figure {
	position: relative;
	padding-top: 100%;
	background-color: white;
	overflow: hidden;
}

.dashboard figure img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -100%;
	height: 100%;
}

.dashboard figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
	color: white;
	min-width: 100%;
}
/*** FIN: DASHBOARD ***/

/** FORMS **/
.form input::-webkit-input-placeholder, 
.form textarea::-webkit-input-placeholder {
	color: #000;
	font-size: 12pt;
}

.form button.wide {
	width: 100%;

	border-radius: 3px;
	border: 0;
	box-shadow: 1px 1px 1px #000;
	padding: 10px 0;

	color: #fff;
	background-color: #440E0E;
}

.form button.decorated {
	border-radius: 3px;
	border: 0;
	box-shadow: 1px 1px 1px #000;

	padding: 10px 25px;

	color: #fff;
	background-color: #440E0E;	
}
/** END: FORMS **/